//Colocar aquí clases utilitarias para todo el sitio. Por ejemplo: márgenes, alineación de texto y color de texto.

.text-cencer{
	text-align:center;
}

.text-white{
	color:white;
}

.no-decoration{
	text-decoration: none;
}